.header {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 3.5rem;

    h1 {
        font-size: 5rem;
        line-height: 5rem;
        color: #000814;
        text-transform: uppercase;
    }
}